<html>
	<head>
		<title><%=title %></title>
		<!-- font maven pro -->
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">

		<style>
			table
			{
				border-collapse: collapse;
				border: 0;
			}
		</style>
	</head>

	<body>
		<div style="width: 600px; margin: 0 auto; ; padding: 15px;font-family:calibri; text-align: center;">
			<table style="width: 100%; background-color: #f5f7fa;">
				<tr>
					<td>
						<img src="<%=url %>/assets/email/bg-img.jpg" width="100%">
					</td>
				</tr>
			
				<tr>
					<td align="center">
						<span style="">&nbsp;</span>
						<h1 style="color: #0d2a3c;">You Have a New Booking</h1> 
						<img src="<%=url %>/assets/email/user.jpg" width="100px"><br>
						<span style="color: #0d2a3c; font-size: 24px;font-weight: 600;margin-top: 15px;display: inline-block;">Booking Details</span>
					</td>
				</tr>
				
				<tr>
					<td style="padding: 15px;">
						<table width="100%">
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;width:50%;">Booking Id</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.Request_Id %></td>
							</tr>
					
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Customer Name</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.First_Name %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Customer Email</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.Email %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Customer Contact Number</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.User_Contact_Value1 %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Booking Date & Time</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.Requested_Date %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Pick up Location </th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.From_Location %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Drop Off location</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.To_Location %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Weight ( in tons)</th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.Item_Weight %></td>
							</tr>
							
							<tr>
								<th align="left" style="padding: 15px;border: 1px solid #dcdcdc;">Estimated Amount </th>
								<td style="padding: 15px;border: 1px solid #dcdcdc;"><%= booking_detail.ETA_Amount %></td>
							</tr>
							
							<tr>
								<td style="padding: 15px;border: 1px solid #dcdcdc;">
									<a href="<%=url %>/booking/approved/<%= email_token %>" style="background-color: #0d2a3c;color: #fff;border:0;padding:8px 12px;width: 100%">Accept</a>
								</td>
								
								<td style="padding: 15px;border: 1px solid #dcdcdc;">
									<a href="<%=url %>/booking/rejected/<%= email_token %>" style="background-color: red;color: #fff;border:0;padding:8px 12px;width: 100%">Reject</a>
								</td>
							
						
							</tr>
						</table>
					</td>
				</tr>
				
				
				<!-- <tr> -->
					<!-- <td align="right" style="padding: 0 15px;"> -->
						<!-- <button style="background-color: #0d2a3c;color: #fff;border:0;padding:8px 12px;">Accept</button> -->
						<!-- <button style="background-color: red;color: #fff;border:0;padding:8px 12px;">Reject</button> -->
					<!-- </td> -->
				<!-- </tr> -->
				
				<tr>
					<td align="center" style="padding:15px">
						<div style="text-align: center;margin-top: 20px;">
                            <a href="<%=application.social_media.fb %>"><img src="<%=url %>/assets/email/facebook.png" style="width: 20px;"></a>
							<a href="<%=application.social_media.twitter %>"><img src="<%=url %>/assets/email/twitter.png" style="width: 20px;"></a>
					
						</div>
						<h4 style="font-size: 24px; color: #000; margin-bottom: 10px;font-weight: 500;margin-top: 0;"><%=website%></h4>

						<p style="font-size: 17px;line-height:20px;text-align: justify; color: #000;">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</td>
				</tr>	
					</td>
				</tr>
			</table>
			
			
			<table width="100%">
				
				
				<tr><td style="height: 20px;"></td></tr>
				
			</table>
		</div>
		
	</body>
</html>